.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.DS_Store
.terraform.lock.hcl

# Ignorar qualquer .terraform em qualquer lugar
**/.terraform/

# Ignorar dataset.csv (independente de maiúsculas/minúsculas)
[Ii]aC/dados/dataset.csv
